.flyout {
  &:not(.in) {
    width: 40px;
    background-color: #ddd;

    > :nth-child(n+2) {
      display: none;
    }
  }

  &.in {
    width: auto;
    max-width: 50vw;

    h1 {
      display: none;
    }
  }

  h1 {
    transform: rotate(90deg);
    position: relative;
    bottom: 0;
    white-space: nowrap;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      color: darkgray;
    }
  }

  > .header {
    text-align: right;

    > i {
      cursor: pointer;

      &:active,
      &:focus,
      &:hover {
        color: darkgray;
      }
    }
  }
}
