

.lu.lineup-engine {
  [data-lod=low][data-agg=detail],
  [data-lod=medium][data-agg=detail] {
    background: none !important;

    .lu-missing {
      background: none !important;
    }

    .lu-missing,
    [data-renderer=aggregate],
    [data-renderer=rank],
    [data-renderer=string],
    [data-renderer=circle],
    [data-renderer=selection],
    [data-renderer=sparkline],
    [data-renderer=threshold] {
      display: none;
    }

    [data-renderer=number] {
      top: 0;
      bottom: 0;
    }

    [data-renderer=boxplot] {
      > div {
        height: 100%;

        &::before,
        > div:last-child,
        > div:first-child::after {
          display: none;
        }

        > div:first-child {
          top: 0;
          height: 100%;
          background: black;
        }
      }
    }

    [data-renderer=upset] {
      align-items: stretch;

      > div:first-child {
        display: none;
      }

      > div:nth-child(n + 2) {
        border-radius: 0;
        height: 100%;

        &:not(.enabled) {
          visibility: hidden;
        }
      }
    }

    [data-renderer=categorical],
    [data-renderer=heatmap] {
      > div:first-of-type {
        margin-right: 0;
        flex: 1 1 auto;
      }

      > div:last-of-type {
        display: none;
      }
    }
  }
}
