

header > article > div {
  cursor: pointer;
}

header > article > div,
main > article > div > * {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hierarchy > i {
  cursor: pointer;

  &:hover {
    color: gray;
  }
}

main > article > div.selected {
  outline: 2px solid darkorange;
  z-index: 2;

  > *.frozen {
    outline: 2px solid darkorange;
    z-index: 2;
  }
}

[data-type] {
  .bar {
    margin: 2px 0;
    position: relative;
    color: transparent;
    background-color: #5886e6;
    border-radius: 5px;
    transition: all 0.5s;
  }

  &[data-vis-type=compact] {
    .bar {
      margin: 0;
      height: 100%;
      border-radius: 0;
    }
  }

  &:hover {
    .bar {
      color: black;
    }
  }
}

[data-type="inner"]:not([data-vis-type]) {
  &.string {
    display: flex;
    align-items: center;
  }

  &.categorical,
  &.int,
  &.real {
    display: flex;
    align-items: flex-end;
    margin: 2px 0;

    > .bin {
      flex: 1 1 auto;
      margin: 0 2px;
      position: relative;
      border-radius: 5px 5px 0 0;
      background-color: #5886e6;
      transition: all 0.5s;

      &::after {
        content: attr(title);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}
