/* lighter pattern for missing value encoding */
$lu_missing_bg: repeating-linear-gradient(-45deg, transparent, transparent 12px, #eee 12px, #eee 15px);

/* use slightly darker pattern when background color is also darker */
$lu_missing_bg_darker: repeating-linear-gradient(-45deg, transparent, transparent 12px, #eaeaea 12px, #eaeaea 15px);

/* make gaps between columns a bit smaller */
$lu_engine_grip_gap: 3px;

$lu_side_panel_font_size: 12pt;
$lu_side_panel_toolbar_font_size: 8pt;

@import '~lineupjs/src/style';
@import './lod';

.taggle.lineup-engine {
  header section {
    /* make lineup header brighter and adjust label and histogram accordingly */
    background: #eaeaea;
    color: black;

    .lu-label {
      font-weight: 500;
    }

    .lu-toolbar {
      color: white;
    }

    .lu-summary[data-summary$=hist] > * {
      background: #c1c1c1;
    }

    .lu-handle {
      width: $lu_engine_grip_gap;
    }
  }

  > main > article {
    [data-renderer=number] > div,
    [data-renderer=script] > div,
    [data-renderer=circle] > div {
      /* revert spacing for numerical bar renderer -- spacing is defined by row margin */
      top: 0;
      bottom: 0;
    }

    [data-agg=detail] [data-renderer=categorical] :first-child,
    [data-agg=detail] [data-renderer=heatmap] :first-child {
      /* remove max-height for categorical identifier -- spacing is defined by row margin */
      max-height: none;
    }

    [data-agg=group] [data-renderer=catcolor] {
      /* center the text for the renderer "Most Frequent Category Color" */
      display: flex;
      align-items: flex-start;
      justify-content: center;
      text-align: center;
    }

    &:not(.odd) > div:nth-child(even) > .lu-missing,
    &.odd > div:nth-child(odd) > .lu-missing {
      /* use slightly darker pattern when background color is also darker */
      background: $lu_missing_bg_darker;
    }
  }

  > main:not(.scrolling) > article > div {
    /* fix: dirty overlapping of orange outline with neighboring rows */
    margin: 2px 0; // 2px == outline width of :hover and .lu-selected
  }
}

.lu-side-panel {
  > div > main > article {
    margin-bottom: 0.8em;

    > header {
      padding: 0.2em 0.5em;
      font-weight: 500;
    }

    .lu-summary[data-summary=string] {
      height: auto;
    }
  }
}
