@import '~lineupjs/src/styles/engine';
@import './lod';
@import './switcher';
@import './select2';
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';

.lu-side-panel .lu-summary[data-summary=stratify] {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 20px;
}

.lu-side-panel > div > main > article > header .lu-label {
  &::before {
    @include fa-icon();

    color: $lu_toolbar_color_base2;
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 8px;
  }
}

.select2-container [data-type='categorical']::before,
.lu-side-panel > div > main > article[data-type='categorical'] > header .lu-label::before {
  content: $fa-var-bars;
}

.select2-container [data-type='numerical']::before,
.lu-side-panel > div > main > article[data-type='number'] > header .lu-label::before {
  content: $fa-var-signal;
  transform: rotate(270deg) scaleY(-1);
}

.select2-container [data-type='matrix']::before,
.lu-side-panel > div > main > article[data-type='numbers'] > header .lu-label::before {
  content: $fa-var-th;
}

.select2-container [data-type='label']::before,
.lu-side-panel > div > main > article[data-type='string'] > header .lu-label::before {
  content: $fa-var-align-center;
}
