$taggle_hist_color: #c1c1c1;

@import '~lineupjs/src/style';
@import './lod';

.taggle.lineup-engine {

  > main > article {
    [data-renderer=number] > div,
    [data-renderer=script] > div,
    [data-renderer=circle] > div {
      /* revert spacing for numerical bar renderer -- spacing is defined by row margin */
      top: 0;
      bottom: 0;
    }

    [data-agg=detail] [data-renderer=categorical] :first-child,
    [data-agg=detail] [data-renderer=heatmap] :first-child {
      /* remove max-height for categorical identifier -- spacing is defined by row margin */
      max-height: none;
    }

    [data-agg=group] [data-renderer=catcolor] {
      /* center the text for the renderer "Most Frequent Category Color" */
      display: flex;
      align-items: flex-start;
      justify-content: center;
      text-align: center;
    }
  }

  > main:not(.scrolling) > article > div {
    /* fix: dirty overlapping of orange outline with neighboring rows */
    margin: 2px 0; // 2px == outline width of :hover and .lu-selected
  }
}

.lu-side-panel {
  > div > main > article {
    margin-bottom: 0.8em;

    .lu-toolbar {
      color: white;
      top: 0;
      right: 0;
      font-size: 9pt;
    }

    > header {
      padding: 0.2em 0.5em;
      font-weight: 500;

      &::before {
        padding-right: 0.2em;
      }

      .lu-label {
        padding-left: 0.4em;
      }
    }

    > main {
      &.lu-summary[data-summary=string] {
        height: auto;
      }

      &.lu-summary[data-summary=slider-hist] > div,
      &.lu-summary[data-summary=hist] > div {
        background: $taggle_hist_color;
      }
    }
  }
}
