

.treevis {
  .hidden {
    display: none;
  }

  .leaf {
    color: red;
  }

  .inner {
    color: black;
  }

  input,
  select {
    min-width: 5em;
    max-width: 9em;
    width: 100%;
  }

  table {
    border-collapse: collapse;

    .readonly-cells {
      td {
        color: grey;
      }
    }

    thead {
      font-weight: bold;
      border-bottom: thin solid black;

      .properties {
        text-align: left;

        .fa.fa-cog {
          cursor: pointer;
        }
      }
    }

    td.hierarchy {
      position: relative;

      &::before {
        position: absolute;
        left: 20%;
        top: 0;
        height: 100%;
        width: 1px;
        content: '';
        border-left: 1px solid black;
      }
    }

    tbody tr {
      text-align: left;

      > td {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      /* hierarchy indicator */
      &[data-level="1"] > td.hierarchy:nth-child(1),
      &[data-level="2"] > td.hierarchy:nth-child(2),
      &[data-level="3"] > td.hierarchy:nth-child(3),
      &[data-level="4"] > td.hierarchy:nth-child(4) {
        &::after {
          position: absolute;
          left: 20%;
          top: 0;
          height: 50%;
          width: 80%;
          content: '';
          border-bottom: 1px solid black;
        }
      }

      &:nth-child(even) {
        background-color: #ddd;
      }

      &:nth-child(odd) {
        background-color: white;
      }

      td.clickable {
        max-width: 12em;
        overflow-y: hidden;
        text-overflow: ellipsis;
      }

      &[data-type=inner] {
        td.clickable {
          cursor: pointer;

          &:focus,
          &:active,
          &:hover {
            &::before {
              color: blue;
            }
          }

          &::before {
            font-size: 80%;
            content: '▼';
            display: inline-block;
          }
        }

        &.collapsed td.clickable::before {
          content: '►';
        }
      }
    }
  }
}
