/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  user-select: none;

  i {
    cursor: pointer;
  }
}

/* The actual popup */
.popup .popupcontent {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -10px;
}

.popupcontent::after {
  z-index: -1;
  content: '';
  position: absolute;
  top: -20px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

.popup:hover .popupcontent {
  visibility: visible;
}
