$engine_assets: "~lineupengine/src/assets";

@import "~lineupengine/src/style";

.lineup-engine {
  height: 90vh;
  max-width: 100vw;

  header > article > div {
    cursor: pointer;
  }

  header > article > div,
  main > article > div > * {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.hierarchy > i {
  cursor: pointer;

  &:hover {
    color: gray;
  }
}

[data-type] {
  .bar {
    margin: 2px 0;
    position: relative;
    color: transparent;
    background-color: #5886e6;
    border-radius: 5px;
    transition: all 0.5s;
  }

  &:hover {
    .bar {
      color: black;
    }
  }
}

[data-type="inner"]:not([data-renderer]) {
  &.string {
    display: flex;
    align-items: center;
  }

  &.categorical,
  &.int,
  &.real {
    display: flex;
    align-items: flex-end;
    margin: 2px 0;

    > .bin {
      flex: 1 1 auto;
      margin: 0 2px;
      position: relative;
      border-radius: 5px 5px 0 0;
      background-color: #5886e6;
      transition: all 0.5s;

      &::after {
        content: attr(title);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

.treevis {
  .hidden {
    display: none;
  }

  .leaf {
    color: red;
  }

  .inner {
    color: black;
  }

  .collapsed {
    color: blue;
  }

  tr:nth-child(even) {
    background-color: #ddd;
  }

  table {
    width: 500px;
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
  }

  caption {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
  }

  th {
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    padding: 10px;
    border-bottom-style: solid;
    border-width: thin;
  }

  table tbody tr {
    text-align: center;
  }
}

