@import url("https://fonts.googleapis.com/css?family=Yantramanav:700,500,400");

body {
  font-family: "Yantramanav", "Arial", sans-serif;
  font-size: 95%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;

  > div {
    flex: 1 1 auto;
    position: relative;
  }
}

.lineup-engine {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  @import "./styles/table";
}

aside.panel {
  flex: 0 0 auto;
  margin-right: 37px;
  display: flex;
  flex-direction: column;
}

@import "./styles/lineup";

.flyout {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
  border-left: 2px solid black;
  transition: max-width 0.5s linear;
  display: flex;
  flex-direction: column;

  .treevis {
    overflow-y: auto;
  }
}

@import "styles/flyout";
@import "styles/treevis";
@import "styles/popup";
@import "styles/switcher";
