$engine_assets: "~lineupengine/src/assets";

@import "~lineupengine/src/style";

.lineup-engine {
  height: 90vh;
  max-width: 100vw;

  header > article > div {
    cursor: pointer;
  }

  header > article > div,
  main > article > div > * {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.hierarchy > i {
  cursor: pointer;

  &:hover {
    color: gray;
  }
}

[data-type] {
  .bar {
    margin: 2px 0;
    position: relative;
    color: transparent;
    background-color: #5886e6;
    border-radius: 5px;
    transition: all 0.5s;
  }

  &:hover {
    .bar {
      color: black;
    }
  }

  .bin {
    background-color: #5886e6;
  }
}

[data-type="inner"][data-renderer="default"] > div {
  &.string {
    line-height: 100px;
    vertical-align: middle;
  }
}

[data-type="inner"] > div {
  &:not(.string) {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    margin: 2px 0;

    > * {
      flex: 1 1 auto;
      margin: 0 2px;
      border-radius: 5px 5px 0 0;
      display: inline-block;
      transition: all 0.5s;
    }
  }
}
