@import url("https://fonts.googleapis.com/css?family=Yantramanav:700,500,400");

$taggle_border_color: #6d6c6c !default;

body {
  font-family: "Yantramanav", "Arial", sans-serif;
  font-size: 95%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;

  > div {
    flex: 1 1 auto;
    position: relative;
  }
}

.taggle.lineup-engine {
  position: absolute !important;
  left: 10px;
  top: 10px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

aside.panel {
  flex: 0 0 auto;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $taggle_border_color;
}

.flyout {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
  border-left: 1px solid $taggle_border_color;
  transition: max-width 0.5s linear;
  display: flex;
  flex-direction: column;

  .treevis {
    overflow-y: auto;
  }
}

@import "./styles/taggle";
@import "styles/flyout";
@import "styles/treevis";
@import "styles/popup";
@import "styles/switcher";
@import "styles/select2";
