@import url("https://fonts.googleapis.com/css?family=Yantramanav:700,500,400");

body {
  font-family: "Yantramanav", "Arial", sans-serif;
  font-size: 95%;
}

.lineup-engine {
  position: absolute;
  width: 97vw;
  height: 98vh;

  @import "./styles/table";
}

@import "./styles/lineup";

.flyout {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  height: 98vh;
  background: white;
  border-left: 2px solid black;
  transition: max-width 0.5s linear;
  display: flex;
  flex-direction: column;

  .treevis {
    overflow-y: auto;
  }
}

@import "treevis";
