div.flyout {
  position: fixed;
  top: 0;
  right: 0;
  width: 2vw;
  height: 100%;
  background-color: #ddd;
}

div h1 {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  position: relative;
  bottom: 0px;
}

div.treevis {
  position: absolute;
  top: 0;
  right: 0;
}

div.header {
  background-color: white;
  border: thin;
  border-style: solid;
  border-collapse: collapse;
}

.treevis {
  display: none;
  .hidden {
    display: none;
  }

  .leaf {
    color: red;
  }

  .inner {
    color: black;
  }

  .collapsed {
    color: blue;
  }

  tr:nth-child(even) {
    background-color: #ddd;
  }

  tr:nth-child(odd) {
    background-color: white;
  }

  table {
    width: 500px;
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
  }

  caption {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
  }

  th {
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    padding: 10px;
    border-bottom-style: solid;
    border-width: thin;
  }

  table tbody tr {
    text-align: center;
  }

  input {
    width: 60px;
  }
}
