.flyout {
  &:not(.in) {
    width: 2vw;
    background-color: #ddd;

    > :nth-child(n+2) {
      display: none;
    }
  }

  &.in {
    width: 30vw;

    h1 {
      display: none;
    }
  }

  h1 {
    transform: rotate(90deg);
    position: relative;
    bottom: 0;
    white-space: nowrap;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      color: darkgray;
    }
  }

  > .header {
    text-align: right;

    > i {
      cursor: pointer;

      &:active,
      &:focus,
      &:hover {
        color: darkgray;
      }
    }
  }
}

.treevis {
  .hidden {
    display: none;
  }

  .leaf {
    color: red;
  }

  .inner {
    color: black;
  }

  input,
  select {
    min-width: 5em;
    width: 100%;
  }

  table {
    border-collapse: collapse;

    thead {
      font-weight: bold;
      border-bottom: thin solid black;
    }

    td.hierarchy {
      position: relative;

      &::before {
        position: absolute;
        left: 20%;
        top: 0;
        height: 100%;
        width: 1px;
        content: '';
        border-left: 1px solid black;
      }
    }

    tbody tr {
      text-align: left;

      > td {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      /* hierarchy indicator */
      &[data-level="1"] > td.hierarchy:nth-child(1),
      &[data-level="2"] > td.hierarchy:nth-child(2),
      &[data-level="3"] > td.hierarchy:nth-child(3),
      &[data-level="4"] > td.hierarchy:nth-child(4) {
        &::after {
          position: absolute;
          left: 20%;
          top: 0;
          height: 50%;
          width: 80%;
          content: '';
          border-bottom: 1px solid black;
        }
      }

      &:nth-child(even) {
        background-color: #ddd;
      }

      &:nth-child(odd) {
        background-color: white;
      }

      &[data-type=inner] {
        td.clickable {
          cursor: pointer;

          &:focus,
          &:active,
          &:hover {
            &::before {
              color: blue;
            }
          }

          &::before {
            font-size: 80%;
            content: '▼';
            display: inline-block;
          }
        }

        &.collapsed td.clickable::before {
          content: '►';
        }
      }
    }
  }
}
