.flyout {
  position: fixed;
  top: 0;
  right: 0;
  width: 2vw;
  height: 90vh;
  background-color: #ddd;

  h1 {
    transform: rotate(90deg);
    position: relative;
    bottom: 0;
    white-space: nowrap;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      color: darkgray;
    }
  }

  .content {
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: thin;
    border-style: solid;
    border-collapse: collapse;

    .header {
      text-align: right;

      > i {
        cursor: pointer;

        &:active,
        &:focus,
        &:hover {
          color: darkgray;
        }
      }
    }
  }
}

div.treevis {
  top: 20px;
  right: 0;
  height: 90vh;
  overflow: auto;
}

.treevis {
  .hidden {
    display: none;
  }

  .leaf {
    color: red;
  }

  .inner {
    color: black;
  }

  input {
    width: 60px;
  }

  table {
    width: 30vw;
    border-collapse: collapse;

    thead {
      font-weight: bold;
      border-bottom: thin solid black;
    }

    td.hierarchy {
      position: relative;

      &::before {
        position: absolute;
        left: 20%;
        top: 0;
        height: 100%;
        width: 1px;
        content: '';
        border-left: 1px solid black;
      }
    }

    tbody tr {
      text-align: center;

      > td {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      /* hierarchy indicator */
      &[data-level="1"] > td.hierarchy:nth-child(1),
      &[data-level="2"] > td.hierarchy:nth-child(2),
      &[data-level="3"] > td.hierarchy:nth-child(3),
      &[data-level="4"] > td.hierarchy:nth-child(4) {
        &::after {
          position: absolute;
          left: 20%;
          top: 0;
          height: 50%;
          width: 80%;
          content: '';
          border-bottom: 1px solid black;
        }
      }

      &:nth-child(even) {
        background-color: #ddd;
      }

      &:nth-child(odd) {
        background-color: white;
      }

      td.clickable {
        text-align: left;
      }

      &[data-type=inner] {
        td.clickable {
          cursor: pointer;

          &:focus,
          &:active,
          &:hover {
            &::before {
              color: blue;
            }
          }

          &::before {
            font-size: 80%;
            content: '▼';
            display: inline-block;
          }
        }

        &.collapsed td.clickable::before {
          content: '►';
        }
      }
    }
  }
}
